@import url('https://fonts.googleapis.com/css?family=Monoton');

.page-title {
  font-family: 'Monoton' !important;
  font-weight: 400!important;
}

.ui.vertical.menu .item > i.icon.left {
  float: none;
  margin: 0em 0.35714286em 0em 0em;
}
.sub.header {
  font-weight: 300!important;
  font-size: 12pt!important;
}

.page-title {
  font-family: 'Open Sans Condensed';
  color: #c5c2c2;
  font-size: 40px;
  font-style: 300;
  margin-left: 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #474646;
}

.masthead {
  height: 10%;
}
